<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><h4>&nbsp;&nbsp;音乐榜</h4></li>
                <li><a ui-sref="music.tabs.list({id:27})">音乐榜:新歌</a></li>
                <li><a ui-sref="music.tabs.list({id:26})">音乐榜:热歌</a></li>
                <li><a ui-sref="music.tabs.list({id:4})">音乐榜:流行</a></li>
                <li><a ui-sref="music.tabs.list({id:5})">音乐榜:内地</a></li>
                <li><a ui-sref="music.tabs.list({id:6})">音乐榜:港台</a></li>
                <li><a ui-sref="music.tabs.list({id:3})">音乐榜:欧美</a></li>
                <li><a ui-sref="music.tabs.list({id:17})">音乐榜:日本</a></li>
                <li><a ui-sref="music.tabs.list({id:16})">音乐榜:韩国</a></li>
                <li><a ui-sref="music.tabs.list({id:36})">音乐榜:k歌金曲</a></li>
                <li><a ui-sref="music.tabs.list({id:28})">音乐榜:网络歌曲</a></li>
            </ul>

        </div>

        <div class="col-sm-10 col-md-9 col-sm-offset-2 main">
            <div ui-view=""></div>
        </div>


    </div>
</div>

